

#pfp{
    border-radius: 50%;
    height: 35vh;
}




/* glitch code from https://codepen.io/cbanlawi/pen/xxRBeMY */
body {
    background: #2d6a4f;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.container {
    text-align: center;
}

.glitch {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #348aa7, -0.03em -0.04em 0 #525174,
        0.025em 0.04em 0 #bce784;
    animation: glitch 725ms infinite;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #348aa7, -0.03em -0.04em 0 #525174,
        0.025em 0.04em 0 #bce784;
    }
    15% {
        text-shadow: 0.05em 0 0 #348aa7, -0.03em -0.04em 0 #525174,
        0.025em 0.04em 0 #bce784;
    }
    16% {
        text-shadow: -0.05em -0.025em 0 #348aa7, 0.025em 0.035em 0 #525174,
        -0.05em -0.05em 0 #bce784;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #348aa7, 0.025em 0.035em 0 #525174,
        -0.05em -0.05em 0 #bce784;
    }
    50% {
        text-shadow: 0.05em 0.035em 0 #348aa7, 0.03em 0 0 #525174,
        0 -0.04em 0 #bce784;
    }
    99% {
        text-shadow: 0.05em 0.035em 0 #348aa7, 0.03em 0 0 #525174,
        0 -0.04em 0 #bce784;
    }
    100% {
        text-shadow: -0.05em 0 0 #348aa7, -0.025em -0.04em 0 #525174,
        -0.04em -0.025em 0 #bce784;
    }
}
  