*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

#pfp{
    border-radius: 50%;
    height: 35vh;
}

main{
    background-color: #A8CDA8;
    width: 45%;
    height: 65%;
    border: 5px solid #081c15;
    border-radius: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    font-size: 0;
    background-color: #081c15;
}
nav button{
    background-color: #2d6a4f;
    width: 16.36%;
    padding: 0%;
    margin: 0%;
    font-size: 20px;
    border: 0;
    border-radius: 5%;
    margin: 0 2px 2px 0;
}
#btnProfile{
    background-color: #90bc90;
}
.details{
    display: flex;
}
.profile{
    color: #081c15;
}
.about p{
    padding-left: 5%;
    padding-right: 5%;
}
.about h2{
    text-align: center;
}
.bio{
    margin: 0%;
    padding: 0%;
}




/* glitch code from https://codepen.io/cbanlawi/pen/xxRBeMY */
body {
    background: #081c15;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.container {
    text-align: center;
}

.glitch {
    margin: 5% 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #348aa7, -0.03em -0.04em 0 #525174,
        0.025em 0.04em 0 #bce784;
    animation: glitch 725ms infinite;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #348aa7, -0.03em -0.04em 0 #525174,
        0.025em 0.04em 0 #bce784;
    }
    15% {
        text-shadow: 0.05em 0 0 #348aa7, -0.03em -0.04em 0 #525174,
        0.025em 0.04em 0 #bce784;
    }
    16% {
        text-shadow: -0.05em -0.025em 0 #348aa7, 0.025em 0.035em 0 #525174,
        -0.05em -0.05em 0 #bce784;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #348aa7, 0.025em 0.035em 0 #525174,
        -0.05em -0.05em 0 #bce784;
    }
    50% {
        text-shadow: 0.05em 0.035em 0 #348aa7, 0.03em 0 0 #525174,
        0 -0.04em 0 #bce784;
    }
    99% {
        text-shadow: 0.05em 0.035em 0 #348aa7, 0.03em 0 0 #525174,
        0 -0.04em 0 #bce784;
    }
    100% {
        text-shadow: -0.05em 0 0 #348aa7, -0.025em -0.04em 0 #525174,
        -0.04em -0.025em 0 #bce784;
    }
}
  



.block {
	position: relative;
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}


