
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
#pfp{
    border-radius: 50%;
    height: 35vh;
}
main{
    background-color: white;
    width: 45%;
    height: 70%;
    border: 5px solid #081c15;
    border-radius: 2%;
    font-family: "Poppins",Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
}
.details{
    display: flex;
}
.details img{ /* pixel character created using https://www.avatarsinpixels.com */
    margin: 2%;
    padding: 2%;
    align-self: center;
    background: linear-gradient(#f1f1f1, #f1f1f1) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 4px solid transparent;
    border-radius: 12px;
    box-shadow:  5px 5px 10px #949494,
                -5px -5px 10px #ffffff;
    transition: 1s;
}
.profile{
    color: #081c15;
}
.about{
    text-align: center;
    margin: 2%;
    padding: 2%;
    background: linear-gradient(#f1f1f1, #f1f1f1) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 4px solid transparent;
    border-radius: 12px;
    box-shadow:  5px 5px 10px #949494,
                -5px -5px 10px #ffffff;
    transition: 1s;
}
.about:hover, .bio:hover, .details img:hover, .languages:hover, .experience:hover, .statsGraphic:hover, .links:hover{
    box-shadow: 0px 0px 30px 1px rgb(172, 172, 204);
}
.stats img:hover{
    box-shadow: 0px 0px 30px 1px rgb(129, 129, 206);
}
.bio{
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: smaller;
    background: linear-gradient(#f1f1f1, #f1f1f1) padding-box,
              linear-gradient(to right, darkorchid, darkblue) border-box;
    border: 4px solid transparent;
    border-radius: 12px;
    box-shadow:  5px 5px 10px #949494,
                -5px -5px 10px #ffffff;
    transition: 1s;
}
.languages{
    background: linear-gradient(#f1f1f1, #f1f1f1) padding-box,
              linear-gradient(to right, darkorchid, darkblue) border-box;
    border: 4px solid transparent;
    border-radius: 12px;
    box-shadow:  5px 5px 10px #949494,
                -5px -5px 10px #ffffff;
    color: #000;
    text-align: center;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 1s;
}
.stats img{
    border-radius: 100%;
    transition: 1s;
}
.stats{
    align-self: center;
    padding-left: 10%;
}
.skills{
    margin: 5%;
}
.GitHubStats{
    display: flex;
    justify-content: space-between;
}
.statsGraphic{
    background: linear-gradient(#f1f1f1, #f1f1f1) padding-box,
              linear-gradient(to right, darkorchid, darkblue) border-box;
    border: 4px solid transparent;
    border-radius: 12px;
    box-shadow:  5px 5px 10px #949494,
                -5px -5px 10px #ffffff;
    transition: 1s;
}
.experience{
    color: #000;
    margin: 5%;
    background: linear-gradient(#f1f1f1, #f1f1f1) padding-box,
              linear-gradient(to right, darkorchid, darkblue) border-box;
    border: 4px solid transparent;
    border-radius: 12px;
    box-shadow:  5px 5px 10px #949494,
                -5px -5px 10px #ffffff;
    transition: 1s;
}
.expPosition, .expLocation{
    display: flex;
    justify-content: space-between;
}
.expDescription{
    list-style-type: circle;
    padding-left: 5%;
    font-size: small;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.accordion:hover {
    background-color: rgb(210, 210, 244); 
}
.active{
    background-color: rgb(231, 231, 252); 
}
.panel {
    padding: 1%;
    display: none;
    background-color: white;
    overflow: hidden;
}
.firstAccordion{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.lastAccordion, .lastPanel{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.connect{
    color: #000;
    text-align: center;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.connect h2{
    padding-bottom: 3%;
}
.links{
    background: linear-gradient(#f1f1f1, #f1f1f1) padding-box,
                linear-gradient(to right, darkorchid, darkblue) border-box;
    border: 4px solid transparent;
    border-radius: 12px;
    box-shadow:  5px 5px 10px #949494,
                -5px -5px 10px #ffffff;
    transition: 1s;
    height: 20rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.links a{
    align-self: center;
}
.connect a:link, a:visited{
    text-decoration: none;
}



.cssbuttons-io-button {
    background: #A370F0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    width: 13rem;
}
   
.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}
   
.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}
   
.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}
   
.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}
   
.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}
   




.projectsList{
    display: flex;
    justify-content: center;
}

.card {
    width: 175px;
    height: 250px;
    background: white;
    padding: .4em;
    border-radius: 6px;
    border: 5px solid black;
    display: none;
    margin: 2%;
    margin-top: 7%;
    border: 4px solid darkorchid;
    border-radius: 12px;
    box-shadow: inset 20px 20px 40px #b3b3b3,
            inset -20px -20px 40px #ffffff;
    filter: blur(2px);
}
.currentCard{
    width: 260px;
    height: 350px;
    margin: 2%;
    border: 4px solid darkblue;
    background-color: white;
    filter: none;
    box-shadow:  5px 5px 10px #949494,
                -5px -5px 10px #ffffff;
}
.card-image {
    width: 100%;
    height: 40%;
    border-radius: 6px;
    object-fit: cover;
}
.currentCard .card-image {
    height: 50%;
}
.category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: #348aa7;
    padding: 10px 7px 0;
}
.currentCard .category{
    font-size: 1em;
    padding: 5px 2px 0;
}
.heading {
    color: rgb(88, 87, 87);
    padding: 7px;
    padding-right: 0;
    font-size: xx-small;
}
.currentCard .heading{
    padding-left: 4%;
    font-size: small;
}
.projectDate {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    text-align: right;
    padding: 0;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}
.actionButtons{
    display: flex;
    justify-content: center;
}
#previous, #next{
    margin: 1%;
}



.custom-btn {
    color: #fff;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-1 {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;
}
.btn-1:before {
    height: 0%;
    width: 2px;
}
.btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                 -4px -4px 6px 0 rgba(116, 125, 136, .5), 
       inset -4px -4px 6px 0 rgba(255,255,255,.2),
       inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
   




nav button {
    --bg: #025b33;
    --text-color: #fff;
    position: relative;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: #1d4131 0px 7px 2px, #000 0px 8px 5px;
    margin: 1%;
    padding: 0.5% 3%;
    font-size: larger;
    
  }
  
nav button:hover {
    opacity: 1;
}

nav button:active {
    top: 4px;
    box-shadow: #1d4131 0px 3px 2px,#000 0px 3px 5px;
}





/* glitch code for the header from https://codepen.io/cbanlawi/pen/xxRBeMY */
body {
    background: #081c15;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    text-align: center;
}
.glitch {
    margin: 5% 0;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #348aa7, -0.03em -0.04em 0 #525174,
        0.025em 0.04em 0 #bce784;
    animation: glitch 725ms infinite;
}
.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}
.glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
}
.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
}
@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #348aa7, -0.03em -0.04em 0 #525174,
        0.025em 0.04em 0 #bce784;
    }
    15% {
        text-shadow: 0.05em 0 0 #348aa7, -0.03em -0.04em 0 #525174,
        0.025em 0.04em 0 #bce784;
    }
    16% {
        text-shadow: -0.05em -0.025em 0 #348aa7, 0.025em 0.035em 0 #525174,
        -0.05em -0.05em 0 #bce784;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #348aa7, 0.025em 0.035em 0 #525174,
        -0.05em -0.05em 0 #bce784;
    }
    50% {
        text-shadow: 0.05em 0.035em 0 #348aa7, 0.03em 0 0 #525174,
        0 -0.04em 0 #bce784;
    }
    99% {
        text-shadow: 0.05em 0.035em 0 #348aa7, 0.03em 0 0 #525174,
        0 -0.04em 0 #bce784;
    }
    100% {
        text-shadow: -0.05em 0 0 #348aa7, -0.025em -0.04em 0 #525174,
        -0.04em -0.025em 0 #bce784;
    }
}





/* border code from https://codepen.io/Huhtamaki/pen/GPzwPY */
.block {
	position: relative;
}
.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #157F1F, #4CB963, #A0EADE,#5C6784, #1D263B, #157F1F, 
		#4CB963, #A0EADE,#5C6784, #1D263B);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}
@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
.block:after {
	filter: blur(50px);
}




@media only screen and (max-width: 1200px){
    main{
        width: 75%;
        height: fit-content;
    }
}
@media only screen and (max-width: 810px){
    .glitch{
        font-size: 2.5rem;
    }
    main{
        width: 100%;
        height: fit-content;
    }
    .profile{
        display: flex;
        flex-direction: column;
    }
    .details{
        display: flex;
        flex-direction: column;
    }
    nav button{
        width: fit-content;
        padding: 2%;
        margin-top: 3%;
        font-size: medium;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
    }
    .languages{
        height: fit-content;
    }
    .GitHubStats{
        display: flex;
        flex-direction: column;
    }
    .statsGraphic{
        width: fit-content;
    }
    .card{
        visibility: hidden;
        width: 0;
    }
    .currentCard{
        visibility: visible;
        width: 100%;
    }
}
@media only screen and (max-height:730px){
    main{
        height: 100%;
        margin: 0;
    }
}
